<!-- Footer -->

<footer>
  <section class="container-footer">
    <div class="newsletter">
      <p> 20% DE DESCUENTO POR SUSCRBIRTE A NUESTRO NEWSLETTER</p>
      <form action="#">
        <label for="email"></label>
        <input type="email" placeholder="INGRESÃ TU MAIL">
        <button type="button" class="btn btn-primary btn-lg">SUSCRIBITE</button>

      </form>

    </div>
    <div>
      <ul class=" listado list-group ">
        <li class="lista list-group-item  text-white">Acerca de nosotros</li>
        <li class="lista list-group-item  text-white">Contacto <em class="fas fa-phone"></em></li>
        <li class="lista list-group-item  text-white">Trabaja con nostros</li>
        <li class="lista list-group-item  text-white">Sucursales <em class="fas fa-map-marker-alt"></em></li>

      </ul>

    </div>

    <div class="tarjetas">
      <p>Medios de pago
        <img class="pagos" src="/images/medios-de-pago-traparent.png" alt="">
      </p>
    </div>

    <div class="redes">
      <p>SEGUINOS
        <span class="simbolosRedes">
          <a href="https://www.instagram.com/"><em class="icon fab fa-instagram"></em></a>
          <a href="https://www.facebok.com"><em class="icon fab fa-facebook"></em></a>
          <a href="https://www.twitter.com"><em class="icon fab fa-twitter-square"></em></a>
          <a href="https://www.youtube.com"><em class="icon fab fa-youtube-square"></em></a>
        </span>
      </p>



      <div class="AFIP"> <a href="https://serviciosweb.afip.gob.ar/clavefiscal/qr/publicInfoD.aspx">
          <img class="DATAWEB" src="/images/DATAWEB.jpg" alt="">
        </a><em> UnlimitedSport 2020 </em>
      </div>



  </section>

  <script src="/javascripts/register.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/owl.carousel.js"></script>


  <script src="/javascripts/owl.js"></script>

  <script src="/javascripts/header.js"></script>
  <script src="/javascripts/serch.js"></script>




</footer>
</body>

</html>