<!--header-->

<header>
  <div class="fantasma">
    <!-- Logo -->
    <div class='div'> <a href="/"><img class="logo" src="/images/LOGO - SPORT.png" alt="logo"></a> </div>

    <!-- Buscador -->
    <div class='div'>
      <input class="buscador" type="text" placeholder="¿Qué estás buscando?">
      <em class="lupa fas fa-search "></em>
    </div>
    
    <!-- Articulo Envio  -->
    <div class='div'>
      <em class="flete fas fa-truck"></em>
      <p class="envio"> <article>Envio gratis</article> ¡compra mayores de $2500!</p>
    </div>
  </div>

  <!--Menu  -->
 
  
    <nav id="site-nav" class="site-nav" >
      <ul>
        <li class="faa"><a href="/"><em class="fa fa-home site-nav--icon"></em>Home</a></li>
        <li><a href="/products"><em class="fab fa-product-hunt site-nav--icon"></em>Productos</a></li>
        <li><a href="/products"><em class="fas fa-skating site-nav--icon"></em>Deportes</a></li>
        <li><a href="/products"><em class="fas fa-tags site-nav--icon"></em>Marcas</a></li>
        <li class="faa"><a href="#"><em class=" fa fa-envelope site-nav--icon"></em>Contacto</a></li>
        <li class="faa"><a href="#"><em class="far fa-user site-nav--icon"></em>Usuario</a></li>
        <a href="/users/login" class="user"><em class="far fa-user " ></em></a>
        <a href="/check" class="shopping"><em class="fas fa-shopping-cart"></em></a>
      </ul>
       
    </nav>




    <div class='contenedorr'>
    <div>
      <img src="/images/LOGO - SPORT.png" class='logo2' alt="">
    </div>
    <div>
      <button id="btn"  class="icono serch fas fa-search " onClick="cambiarClase()" > </button>
       <a href=""> <em class="icono fas fa-shopping-cart"></em></a> 
     
     </div>
    
  </div>



  <div id="list">
    <input type="text" placeholder="¿Qué estás buscando?"class='buscador'>
    <label class='buscar' for="">Buscar</label> 
  </div>

  <div id="menu-toggle" class="menu-toggle"  onClick="cambiarClase()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>






</header>
<!--/header-->